@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@font-face {
    font-family: 'Space Grotesk';
    src: url('fonts/SpaceGrotesk-Bold.woff') format('woff');
}

/* Resets and defaults */

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

/* Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
}

.header-flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 30px 50px;
}

.logo>img {
    width: 64px;
}

/* Main */

#container {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
    z-index: -1;
}

@media only screen and (max-width: 600px) {
    #container {
        flex-wrap: wrap-reverse;
        margin-top: 100px;
    }
    div.header-flex-wrapper {
        margin: 20px 30px;
    }
    div.hero {
        margin: 50px;
    }
    div.left, div.right {
        border-radius: 0px;
        margin: 0;
    }
}

.left, .right {
    margin: 20px;
    flex: 1;
    flex-basis: 50%;
}

.left {
    border-radius: 10px;
    background: #F4F4F9;
}

.hero {
    display: block;
    margin: 100px;
}

.hero-header {
    /* Font */
    font-family: "Space Grotesk", sans-serif;
    font-size: 36px;
    line-height: 1.25;
}

.hero>.text {
    margin: 20px 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.right {
    display: flex;
    justify-content: center;
}

.entita {
    align-self: center;
}

/* Buttons */

.button-messenger {
    display: inline-block;
    padding: 23px 55px;
    background: #0084FF;
    border-radius: 8px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    display: inline-block;
    padding: 15px 19px;
}

.button-messenger svg {
    display: inline-block;
    vertical-align: middle;
}

.button-zajem {
    float: right;
    border-radius: 8px;
    background: #80FFA7;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 19px;
}