/* Layout Properties (position, float, clear, display) */

/* Box Model Properties (width, height, margin, padding) */

/* Visual Properties (color, background, border, box-shadow) */

/* Typography Properties (font-size, font-family, text-align, text-transform) */

/* Misc Properties (cursor, overflow, z-index) */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@font-face {
    font-family: 'Space Grotesk';
    src: url('fonts/SpaceGrotesk-Bold.woff') format('woff');
}

/* Resets and defaults */

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: 0;
}

/* Header */

header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
}

.header__flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 48px;
}

.header__flex-wrapper img {
    height: 35.70px;
}

/* Main */

.container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap-reverse;
    min-height: 100vh;
    z-index: -1;
}

@media only screen and (max-width: 600px) {
    .container {
        margin-top: 100px;
    }
    header {
        padding-bottom: 30px;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 65%, rgba(255, 255, 255, 0) 100%);
    }
    div.header__flex-wrapper {
        margin: 20px 30px;
    }
    div.hero {
        margin: 20px;
    }
    div.left {
        flex-basis: 80%;
    }
    div.left, div.right {
        border-radius: 0px;
        margin: 0;
    }
}

.left, .right {
    flex-grow: 1;
    flex-basis: 40%;
    margin: 16px;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #F4F4F9;
}

.hero {
    width: 80%;
}

.hero__header {
    /* Font */
    font-family: "Space Grotesk", sans-serif;
    font-size: 36px;
    line-height: 1.25;
}

.hero__text {
    margin: 20px 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entita, .entita svg {
    width: 92%;
}

/* Buttons */

.button {
    padding: 10px 19px;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
}

.button--zajem {
    padding: 8px 24px;
    background: #80FFA7;
    color: black;
}

.button--messenger {
    display: inline-block;
    background: #0084FF;
    color: white;
    margin: 5px;
}

.button--messenger svg {
    display: inline-block;
    vertical-align: middle;
}

/* Chatbot */

.button--chatbot--action {
    background: #FFFFFF;
    color: #000000;
    margin: 5px;
}

.button-chatbot--action--clicked, .button--chatbot--action:hover {
    background: #D7D7DC;
    border-radius: 8px 8px 8px 0;
    outline: 0;
}